#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

clean::
	$(RM) getbootstate bsi-read

build:
	$(CC) $(CFLAGS) $(LDFLAGS) -DWITH_LIBCAL -lcal getbootstate.c -o getbootstate
	$(CC) $(CFLAGS) $(LDFLAGS) bsi-read.c -o bsi-read
